.btn-red {
  background-color: red;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 2px 2px 10px black;
}
.btn-orange {
  background-color: #ffa559;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 2px 2px 10px black;
  margin-left: 20px;
}
